<!DOCTYPE html>

<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="Shortcut Icon"type="image/x-icon" href="favicon.ico">
    <link rel="icon" href="https://static.jianshukeji.com/highcharts/images/favicon.ico">
    <script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
        <script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
        <script src="https://img.hcharts.cn/highcharts/modules/series-label.js"></script>
        <script src="https://img.hcharts.cn/highcharts/modules/oldie.js"></script>
        <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
        <script src="https://img.hcharts.cn/highcharts/themes/dark-unica.js"></script>
        
    <title>i-Fund Manager | NTUSTIM</title>
    <script>
     
      var i1 = "<%= index1 %>";
      var i2 = "<%= index2 %>";
      var i3 = "<%= index3 %>";
      var i4 = "<%= index4 %>";
      var i5 = "<%= index5 %>";
      var c = "<%= cycle %>";
      index1=i1.split(",");
      index2=i2.split(",");
      index3=i3.split(",");
      index4=i4.split(",");
      index5=i5.split(",");
      cycle=c.split(",");
      console.log(index1);
      for(var i=0;i<index1.length;i++){
        index1[i]=parseFloat(index1[i]);
      }
      for(var i=0;i<index2.length;i++){
        index2[i]=parseFloat(index2[i]);
      }
      for(var i=0;i<index3.length;i++){
        index3[i]=parseFloat(index3[i]);
      }
      for(var i=0;i<index4.length;i++){
        index4[i]=parseFloat(index4[i]);
      }
      for(var i=0;i<index5.length;i++){
        index5[i]=parseFloat(index5[i]);
      }
      for(var i=0;i<cycle.length;i++){
        cycle[i]=parseFloat(cycle[i]);
      }
      
    </script>
    
    <link href="/stylesheets/chart.css" rel="stylesheet">
  </head>

  <body>
    <div class="contenter nav-block">
        <ui class="nav-area">
          <li class="nav"><a href="./index">HOME</a></li>
          <li class="nav"><a href="./about">ABOUT</a></li>
          <li class="nav"><a href="./suggestion">SUGGESTION</a></li>
          <li class="nav"><a href="./chart">CHART</a></li>
        </ui>
    </div>
    <div class="contenter suggest_block">
        <div class="chart" id="container"></div>
        
        

       <!-- <div class="left_block">
         <p>If you put <p class="left_text">10</p> dollars </p><br>
         <p>into the market on</p>

          
          <form  name="dateForm"  >
            <input class="date" type="month" name="userDay" id="userDay" min="2000-01" max="2017-11" value="2001-01">
            <br>
            <input class="btn" type="button" onclick="get_action()" value="check">
          </form>

          <br><br>
          <p>Your invest income <br>would be like ....</p>
        
       </div>
       <div class="right_block">
        <div class="chart" id="container"></div>
        </div> -->

      </div>
      <div class="text">
          <br>
          
          <form  class="dateForm"name="dateForm"  >
            <p>在</p>
              <input class="date" type="month" name="userDay" id="userDay" min="2000-01" max="2017-11" value="2001-01">
              <p>將<p class="left_text">10</p> 元投入市場 </p>
              <input class="btn" type="button" onclick="get_action()" value="check">
          </form>
            
        </div>
        <div class="contenter footer_area">
            <div class="footer_school">
              <p class="footer_title">臺灣科技大學</p><br>
              <p class="footer_text">台北市大安區基隆路4段43號<br>Tel:886-2-27333141</p>
            </div>
            <div class="footer_contact">
              <p class="footer_title">聯絡方式</p>
              <ui >
                <li class="footer_text">信箱</li>
                <li class="footer_text">電話</li>
                <li class="footer_text">地址</li>
              </ui>
            </div>
            <div class="footer_department">
              <p class="footer_title">跨領域</p>
              <ui >
                <li class="footer_text">財務金融</li>
                <li class="footer_text">資訊管理</li>
                <li class="footer_text">機器學習</li>
              </ui>
            </div>
            <div class="footer_language">
              <p class="footer_title">更多資訊</p>
              <ui >
                <li class="footer_text">coursera</li>
                <li class="footer_text">youtube</li>
                <li class="footer_text">github</li>
              </ui>
            </div>
            <hr class="footer_hr">
            <div class="footer_text footer_logo">© 2018 NTUSTMI</div>
            <img class="banner" height="100%"src="/images/3.jpg" alt="">
          </div>

     
</body>
<script src="javascripts/chart.js">
  setData(index1,index2,index3,index4,index5,cycle);
</script>
</html>